<template>
  <!--
    子组件有默认的内容wang,如果不传参默认是wang,
    子组件user作为slot的一个attribute绑定上去，
    这被称为插槽prop,现在父级作用域可以在带值得slot提供一个名字也就是scope，
    scope是我们随便起的名字，随便起名字 -->
  <div>
    <div>我是父组件</div>
    <children>
      <!-- 父组件想要获取到子组件的数据该如何做呢？ -->
      <slot>
        <!-- 父组件想要获取到子组件的数据该如何做呢？ -->
        <template v-slot:header="user">
          {{ user.lastName }}
        </template>
      </slot>
    </children>
  </div>
</template>

<script>
import children from './children'
export default {
  name: 'father',
  data() {
    return {}
  },
  components: { children },
  props: {},
  methods: {},
  created() {},
  computed: {},
  watch: {}
}
</script>

<style lang="less" scoped></style>
