@import './antd.less'; // antd样式
@import './scrollbar.less'; // 滚动条样式
// 全局css
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: #409eff;
  text-decoration: none;
}
