// 项目全局滚动条设置
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  overflow: auto;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(89, 89, 89, 0.2);
  background: #939392;
}

::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
  background: #f0f2f5;
}
