<template>
  <div>
    <line-chart :cdata="cdata"></line-chart>
  </div>
</template>

<script>
import LineChart from '@/components/lineChart'
export default {
  name: '',
  data() {
    return {
      // echart配置项
      cdata: {
        // x轴数据
        xData: [],
        // y轴数据
        yData: []
      }
    }
  },
  components: { LineChart },
  props: {},
  methods: {},
  created() {},
  computed: {},
  watch: {}
}
</script>

<style lang="less" scoped></style>
