<template>
  <div>
    <a-button type="primary" style="background: #4849ff" @click="handleExportPdf" class="btn">导出PDF</a-button>
    <vue-html2pdf
      :show-layout="false"
      :float-layout="true"
      :enable-download="true"
      :preview-modal="false"
      :paginate-elements-by-height="800"
      filename="hee hee"
      :pdf-quality="2"
      :manual-pagination="false"
      pdf-format="a4"
      :html-to-pdf-options="pdfOptions"
      pdf-orientation="landscape"
      pdf-content-width="'98%'"
      @progress="onProgress($event)"
      ref="html2Pdf"
    >
      <section slot="pdf-content">
        <!-- PDF Content Here -->
        <div>
          <!-- <img src="@/assets/images/logo.png" alt="" class="custom-img" /> -->
          <p v-for="(item, index) in 40" :key="index">{{ item }}测试数据 hello world</p>
        </div>
      </section>
    </vue-html2pdf>
  </div>
</template>

<script>
import VueHtml2pdf from 'vue-html2pdf'
export default {
  methods: {
    handleExportPdf() {
      document.documentElement.scrollTop = 0
      document.documentElement.scrollLeft = 0
      this.$refs.html2Pdf.generatePdf()
    },
    onProgress() {},
    hasStartedGeneration() {},
    hasGenerated() {}
  },
  data() {
    return {
      pdfOptions: {
        margin: [10, 2, 10, 2], // top, left, buttom, right
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: {
          scale: 2,
          bottom: 20
        },
        jsPDF: {
          unit: 'mm',
          orientation: 'portrait'
        }
      }
    }
  },
  components: {
    VueHtml2pdf
  }
}
</script>

<style lang="less" scoped>
// p标签居中
p {
  text-align: center;
  // overflow: auto;
}
.btn {
  margin-top: 20px;
  text-align: center;
}
.custom-img {
  width: 50px;
  height: 50px;
  // margin: 0 auto;
  // 居中
  display: block;
  text-align: center;
}
</style>
