<template>
  <div>
    <div>我是父组件</div>
    <children>
      <p>能否显示</p>
    </children>
  </div>
</template>

<script>
import children from './children'
export default {
  name: 'father',
  data() {
    return {}
  },
  components: { children },
  props: {},
  methods: {},
  created() {},
  computed: {},
  watch: {}
}
</script>

<style lang="less" scoped></style>
