<template>
  <div>
    <!-- 折线图 -->
    <Echart :options="options" id="blockChainBrowerChart" height="180px" width="100%"></Echart>
  </div>
</template>

<script>
import Echart from '../common/index'

export default {
  data() {
    return {
      options: {}
    }
  },
  components: {
    Echart
  },
  props: {
    cdata: {
      type: Object,
      default: () => ({})
    }
  },
  watch: {
    cdata: {
      handler(newData) {
        let { xData, yData } = newData
        this.options = {
          textStyle: {
            fontSize: 16
          },
          //  图表距边框的距离,可选值：'百分比'¦ {number}（单位px）
          grid: {
            top: '8%',
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'cross',
              label: {
                backgroundColor: '#6a7985'
              }
            },
            // 修改提示框背景样式为为黑色
            backgroundColor: '#333',
            // 修改字体为白色
            textStyle: {
              color: '#fff'
            }
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            // 设置X轴数据旋转倾斜
            axisLabel: {
              textStyle: {
                color: '#000'
              },
              margin: 10
            },
            axisLine: {
              type: 'dashed'
            },
            // x轴名称样式
            nameTextStyle: {
              // fontWeight: 500,
              fontSize: 16,
              // 字体黑色,
              color: '#000'
            },
            data: xData
          },
          yAxis: {
            type: 'value',
            axisLabel: {
              textStyle: {
                color: '#000'
              },
              margin: 10
            },
            nameTextStyle: {
              // fontWeight: 500,
              fontSize: 16,
              color: '#000'
            }
          },
          series: {
            name: '交易量:',
            type: 'line',
            data: yData
          }
        }
      },
      immediate: true,
      deep: true
    }
  }
}
</script>
